<% form_for :bid, :url => {:controller => "bids", :action => "create"} do |f|%>
    <%= hidden_field(:bid, :itemid, :value => @product.id) %>
    <p>Bid Amount <%= f.text_field :amount %> <%= f.submit "Add Bid" %></p>




<% end %>